@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  background-color: black;
  color: white;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}
h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
}
h3 {
  font-size: clamp(2.5rem, 3.3vw, 4rem);
}
.clock {
  margin-top: 200px;
  margin-left: 200px;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 200px;
  border: 15px solid white;
}
.clock p {
  font-size: 30px;
}
