git p,
label {
  font-size: clamp(2rem, 2vw, 2rem);
}
a,
li {
  font-size: clamp(2rem, 2vw, 2rem);
}

.input-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  font-size: 25px;
}
.input-box input[type="text"],
.input-box input[type="button"],
.input-box select {
  font-size: 25px;
}
.tiles-output {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.tiles-output div {
  padding: 10px;
  height: 700px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.tiles-output button {
  font-size: 25px;
  padding: 10px;
}
