* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.layout {
  background-color: #f1f1f1;
  width: 500px;
  padding: 10px;
  margin: 0 auto;
}

.left {
text-align: left;
}

.right {
text-align: right;
}

h2,p,button {
  columns: #333;
}

button {
  padding: 5px 15px;
  background-color: lightblue;
  border: 1px solid green;
}