.detail-wrapper {
  padding-top: 2vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 3vw;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.detail p {
  color: white;
  text-align: center;
  padding: 1vw;
}
.detail h1 {
  margin-top: 4vw;
  color: white;
  text-align: center;
}
.detail .category {
  align-self: flex-end;
}
.detail .price {
  align-self: flex-end;
  color: rgb(208, 208, 179);
  font-size: 55px;
}
