.detail {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.detail img {
  width: 200px;
}
.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.detail-info h1 {
  font-size: 52px;
  font-weight: 500px;
}
.detail-info h2 {
  font-size: 18px;
  font-weight: 900;
  color: #ffca41;
}
.detail-info p {
  font-size: 15px;
  font-weight: 500;
}
.date-level {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-level p {
  color: #3333337a;
}
