.main {
  background-color: #264653;
}
h1 {
  margin-bottom: 20vh;
  font-size: 4.0625rem;
  color: #a16171;
}
.main h2 {
  font-size: 4.0625rem;
  color: #2a9d8f;
}
.main article {
  width: 25vw;
}
.main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
