@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  src: url(../font/DMSans-VariableFont.ttf);
}

img {
  max-width: 100%;
}
html {
  font-family: "DMSans";
}
