* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
/* ----------- basics */
@font-face {
  font-family: rock;
  src: url(../fonts/RockSalt-Regular.ttf);
}
@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
html {
  font-family: nunito, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}
h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
}
h3 {
  font-size: clamp(2.5rem, 3.3vw, 4rem);
}
h4 {
  font-size: clamp(2.8rem, 3.2vw, 3.8rem);
}
h5 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
}
h6 {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}
p,
label {
  font-size: clamp(2rem, 2vw, 2rem);
}
a,
li {
  font-size: clamp(2rem, 2vw, 2rem);
}
:root {
  --primary: #df8480;
}

/* ------------- header */

header {
  height: 100vh;
  width: 100vw;
}
header img {
  position: relative;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
h1 {
  font-family: rock, Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
header p {
  padding: 0 1.5rem;
  position: absolute;

  text-align: right;
  top: 10rem;
  right: 0;
  color: var(--primary);
}
.block {
  display: block;
}

/* -------- section works */

.works {
  height: 65vh;
  padding-bottom: 3rem;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: var(--primary);
  color: white;
}
.works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 1.5rem;
}
.works-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-article span {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 900;
}
.works-article p {
  padding: 0 1.5rem;
  text-align: center;
}
/* -------- menue */

.menue {
  width: 100vw;
  height: auto;
  padding-bottom: 3rem;
}
.food-img {
  width: 100vw;
}
.coffee-dog {
  height: 14rem;
  object-fit: cover;
}
.dog-food {
  height: 25rem;
  object-fit: contain;
}
.img-wrapper {
  position: relative;
  padding: 3rem;
}
.img-wrapper p:nth-of-type(1) {
  position: absolute;

  top: 5rem;
  left: 3rem;
}
.img-wrapper p:nth-of-type(2) {
  position: absolute;

  top: 12rem;
  right: 3rem;
}
.img-wrapper p:nth-of-type(3) {
  position: absolute;

  bottom: 5rem;
  left: 7rem;
}
.text-wrapper {
  padding: 0 1.5rem;
}
.menue-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  text-align: center;
}
/* ------ footer */

footer {
  height: 40rem;
  background-color: black;
  color: white;
  padding: 0 1.5rem;
}
.formular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding-bottom: 4rem;
}
.formular label {
  text-align: center;
  padding-top: 1.8rem;
}
.formular input {
  border-radius: 74px;
  height: 4.5rem;
  min-width: 38rem;
}
.formular input[type="button"] {
  background-color: var(--primary);
  color: white;
}
.formular input::placeholder {
  text-align: center;
}
.end-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.icons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .works-article {
    flex-direction: row;
  }
  .works {
    height: 55vh;
  }
  .menu-img {
    display: flex;
  }
  .coffee-dog,
  .img-wrapper {
    width: 50vw;
    height: 27rem;
  }
  .dog-food {
    width: 100%;
  }
  .icons-wrapper {
    justify-content: flex-start;
    gap: 2rem;
  }
  .end-wrapper {
    flex-direction: row;
    padding: 0 1.8rem;
  }
  .end-wrapper p {
    min-width: 20rem;
  }
}
