* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 600px;
  height: 400px;
}
img {
  margin: 30px;

}
img:first-of-type:hover {
  border: 10px solid black;
  border-style: double;
}

img:nth-of-type(2):hover {
  filter: grayscale(1);
}

img:last-of-type:hover {
  border-radius: 40px;
}